.caja {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.iniciar {
    background-color: #0092ca;
    color: #f3f3f1;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    height: 80px;
    width: 320px;
    cursor: pointer;
    border-radius: 45px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.iniciar:hover {
    background-color: #053d53;
    color: #1f252c;
    border: 1px #000 solid;
}

.agregar {
    background-color: #081f37;
    color: #f3f3f1;
    font-size: 18px;
    height: 60px;
    width: 220px;
    cursor: pointer;
    border-radius: 45px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.agregar:hover {
    background-color: #043569;
    color: #adadad;
    border: 1px #000 solid;
}